/* --- Universal Styling ------------------------------ */

body {
  background-color: #ededf6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hero {
  background-image: url("assets/computer-circuit-bg.png"), linear-gradient(#3a0ca3, #560bad);
  background-size: cover;
  box-shadow: 0 12px 50px -8px rgba(63, 55, 201, .35);
  display: flex;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}
.content {
  background-color: #ffffff;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .1);
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 30px;
  width: 90%;
}
h3 {
  background-color: #3f37c9;
  border-radius: 15px;
  color: #4cc9f0;
  margin: 12px 20px;
  padding: 10px;
}
h4 {
  color: #256ff7;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
h5 {
  font-size: 20px;
}
.btn {
  background-color: #256ff7;
  color: #ffffff;
  font-weight: 600;
}
.btn:hover {
  background-color: #b5179e;
  color: #ffffff;
}

/* --- Header ----------------------------------------- */

header {
  align-items: center;
  background-color: #3f37c9;
  border-bottom: 2px solid #4361ee;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100px;
  justify-content: space-around;
}
.title {
  border-radius: 10px;
  border: 1px solid #4cc9f0;
  font-size: 26px;
  font-weight: 600;
  padding: 0 6px;
}
.title:hover {
  border: 1px solid #4895ef;
  transition: all 0.3s ease;
}
.title a {
  color: #4cc9f0;
}
.title a:hover {
  color: #4895ef;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* --- Navigation ------------------------------------- */

nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #256ff7;
}
nav a:hover {
  color: #b5179e;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* --- Home ------------------------------------------- */

.home.hero {
  align-items: flex-end;
}

/* --- About ------------------------------------------ */

.photo {
  border: 0;
  float: right;
  height: 120px;
  margin: 0 0 20px 20px;
  width: 120px
}

/* --- Portfolio -------------------------------------- */

.portfolio ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio li {
  border: 5px solid #256ff7;
  position: relative;
}
.portfolio li:hover {
  border: 5px solid #b5179e;
  transition: all 0.3s ease;
}
.portfolio li:hover .project-info {
  background-color: #b5179e;
  transition: all 0.3s ease;
}
.githubLink {
  background-color: #b5179e;
  color: #fff;
  font-size: 22px;
  padding: 2px 8px;
  position: absolute;
  right: 0;
  top: 6px;
}
.project-info {
  background-color: #256ff7;
  bottom: 10px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  padding: 8px;
  position: absolute;
}
.project-details {
  display: block;
  font-size: 16px;
}
.screenshot {
  width: 100%;
}

/* --- Contact ---------------------------------------- */

label {
  font-weight: 600;
}
.error {
  color: #e60000;
}
.error i {
  margin: 0 10px 0 0;
}
.error p {
  display: inline-block;
}

/* --- Resume ----------------------------------------- */

.resume ul {
  list-style-type: disc;
  margin-left: 15px;
  padding-bottom: 20px;
}

/* --- Footer ----------------------------------------- */

footer {
  display: flex;
  justify-content: center;
}
footer ul {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}
footer li {
  padding: 0 20px;
}
footer a {
  color: #3a0ca3;
}
footer a:hover {
  color: #5311ea;
}
footer i {
  font-size: 30px;
}

/* --- Media Queries ---------------------------------- */

@media screen and (min-width: 728px) {
  header {
    flex-direction: row;
    height: 60px;
  }
  nav {
    width: 40%;
  }
  .home.hero {
    justify-content: flex-end;
  }
  .about .content {
    height: 330px;
  }
  .portfolio ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio li {
    width: calc(50% - 20px);
  }
}
@media screen and (min-width: 1024px) {
  nav {
    width: 30%;
  }
  .portfolio li {
    width: calc((100% / 3) - 20px);
  }
}